<div class="jumbotron jumbotron-fluid jumbotron-hero">
  <div class="text-center">
  <br>
  <br>
  <h1>Gossip List<h1>
  </div>
  <br>
  <br>
  <div class='container'>
    <div class="card-columns">
    <% @gossips.each do |un_gossip| %>
    <div class="card">
      <div class="card-body">
      <h5 class="card-title"><%= un_gossip.user.first_name %> <%= un_gossip.user.last_name %> <a href= "<%=author_path(:id => un_gossip.user_id) %>" class="btn btn-outline-dark rounded-pill">Profile Author</a></h5>
        <p class="card-text"><p><%= un_gossip.title %> </p></p><p><%= un_gossip.content %></p>
        <p>
          <a href="<%= gossip_path(un_gossip.id) %>" class="btn btn-outline-primary rounded-pill">Read more</a>
          <a href="<%= edit_gossip_path(un_gossip.id) %>" class="btn btn-outline-primary rounded-pill">Edit</a>
          <a href="<%= gossip_path(un_gossip.id) %>" class="btn btn-outline-danger rounded-pill" data-confirm="Do you want to delete?" data-method="DELETE" >Delete</a>
        </p>
      </div>
    </div>
    <% end %>
    </div>
  </div>
</div>



