<br>
<br>
<br>
<div class="text-center">
  <h1>This is the profile of <%=@user.first_name%></h1>
<br>
<br>
  <div class="d-flex justify-content-center">
   <div class="card border border-dark" style="width: 50rem; ">
    <div class="card-body">
        <h2 class="card-title"><%=@user.first_name%> <%=@user.last_name%></h2>
        <p class="card-link">Age : <%=@user.age%> </p>
        <p class="card-link">City : <%=@user.city.name%></p>
        <p class="card-text">Email : <%=@user.email%></p>
        <p class="card-subtitle mb-2 text-muted">Description : <%=@user.description%></p>
        <%= link_to "Close the profile", gossips_path, class: "btn btn-primary rounded-pill" %>       
    </div>
   </div>
  </div>
</div>
